<div class="container">
  <h1 class="text-center">{{ title }}</h1>

  <div>
    <img [src]="imgUrl" alt="image" />
  </div>
  <br />
  <div>
    <h1>Two way binding</h1>
    <button class="btn btn-info" (click)="incrementCount()">Click</button>
    <p>Clicked {{ count }} times</p>
  </div>

  <div>
    <input #nameRef class="form-control" type="text" [(ngModel)]="name" />
    <p>Welcome {{ name }}</p>
  </div>

  <div>
    <h1>Split Two way Binding</h1>
    <input
      class="form-control"
      type="text"
      [ngModel]="userName"
      (ngModelChange)="greetBharath($event)"
    />
    <p>Welcome {{ userName }}</p>
  </div>

  <h1>Getters and Setters</h1>

  <div>
    <input class="form-control" type="text" [(ngModel)]="customerName" />
    <p>Welcome {{ customerName }}</p>
  </div>

  <h1>ViewChild Decorator(Access DOM element in the template from a component class)</h1>

  
</div>
